<!-- Hero Section -->
<div class="relative h-40 md:h-60 bg-cover bg-center" style="background-image: url(page-hero.png); ">
    <div class="absolute inset-0 flex items-center justify-center">

        <h1 class="text-[#477694] lg:text-6xl md:text-5xl text-4xl font-bold title text-center">ADMIN</h1>
    </div>
</div>
<br>
<br>

<h1 class="text-[#477694] lg:mb-5 lg:text-6xl md:text-5xl text-4xl font-bold title text-center">MESSAGES</h1>
<br>

<div class="lg:grid lg:grid-cols-3 lg:gap-5 lg:mx-20 md:mx-28 md:my-2 lg:my-0 mx-4">

    <div class="bg-[#A0C5DF] rounded-xl px-8 py-8 lg:my-0 my-2">
        <p class = " text-gray-700 descrip">Name: </p>
        <p class = " text-gray-700 descrip">Email</p>
        <p class = " text-gray-700 descrip">Message</p>
        <br>
        <div class="flex justify-center">
            <a href="#" class="bg-[red] text-black  py-2 px-4 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg title hover:bg-white descrip" >DELETE</a>
        </div>
    </div>

    <div class="bg-[#A0C5DF] rounded-xl px-8 py-8 lg:my-0 my-2">
        <p class = " text-gray-700 descrip">Name: </p>
        <p class = " text-gray-700 descrip">Email</p>
        <p class = " text-gray-700 descrip">Message</p>
        <br>
        <div class="flex justify-center">
            <a href="#" class="bg-[red] text-black  py-2 px-4 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg title hover:bg-white descrip" >DELETE</a>
        </div>
    </div>

    <div class="bg-[#A0C5DF] rounded-xl px-8 py-8 lg:my-0 my-2">
        <p class = " text-gray-700 descrip">Name: </p>
        <p class = " text-gray-700 descrip">Email</p>
        <p class = " text-gray-700 descrip">Message</p>
        <br>
        <div class="flex justify-center">
            <a href="#" class="bg-[red] text-black  py-2 px-4 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg title hover:bg-white descrip" >DELETE</a>
        </div>
    </div>

</div>
<br><br>
<h1 class="text-[#477694] lg:mb-5 lg:text-6xl md:text-5xl text-4xl font-bold title text-center">VOLUNTEERS</h1>
<br>

<div class="lg:grid lg:grid-cols-3 lg:gap-5 lg:mx-20 md:mx-28 md:my-2 lg:my-0 mx-4">

    <div class="bg-[#A0C5DF] rounded-xl px-8 py-8 lg:my-0 my-2">
        <p class = " text-gray-700 descrip">Name </p>
        <p class = " text-gray-700 descrip">Email</p>
        <p class = " text-gray-700 descrip">Birthdate</p>
        <p class = " text-gray-700 descrip">Work/Course</p>
        <p class = " text-gray-700 descrip">Company/School</p>
        <p class = " text-gray-700 descrip">Phone Number</p>
        <p class = " text-gray-700 descrip">Facebook Link</p>
        <p class = " text-gray-700 descrip">Home Address</p>
        <p class = " text-gray-700 descrip">Chapter</p>
        <p class = " text-gray-700 descrip">Committee</p>
        <p class = " text-gray-700 descrip">ALT Committee</p>
        <p class = " text-gray-700 descrip">Status: PENDING</p>
        <br>
        
        <form class="max-w-sm mx-auto">
            <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">STATUS</label>
            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-gray-700 block w-full p-2.5 ">
            <option value="US" selected>PENDING</option>
            <option value="CA">APPROVED</option>
            <option value="FR">DENIED</option>
            </select>
        </form>
        <br>
        <div class="flex justify-center">
            <a href="#" class="bg-[white] text-black  py-2 px-4 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg title hover:bg-[#477694] descrip" >SAVE CHANGES</a>
        </div>
        
  
        <!--<div class="flex justify-center">
            <a href="#" class="bg-[red] text-black  py-2 px-4 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg title hover:bg-white descrip" >DELETE</a>
        </div>-->
    </div>


    <div class="bg-[#A0C5DF] rounded-xl px-8 py-8 lg:my-0 my-2">
        <p class = " text-gray-700 descrip">Name </p>
        <p class = " text-gray-700 descrip">Email</p>
        <p class = " text-gray-700 descrip">Birthdate</p>
        <p class = " text-gray-700 descrip">Work/Course</p>
        <p class = " text-gray-700 descrip">Company/School</p>
        <p class = " text-gray-700 descrip">Phone Number</p>
        <p class = " text-gray-700 descrip">Facebook Link</p>
        <p class = " text-gray-700 descrip">Home Address</p>
        <p class = " text-gray-700 descrip">Chapter</p>
        <p class = " text-gray-700 descrip">Committee</p>
        <p class = " text-gray-700 descrip">ALT Committee</p>
        <p class = " text-gray-700 descrip">Status: PENDING</p>
        <br>
        
        <form class="max-w-sm mx-auto">
            <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">STATUS</label>
            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-gray-700 block w-full p-2.5 ">
            <option value="US" selected>PENDING</option>
            <option value="CA">APPROVED</option>
            <option value="FR">DENIED</option>
            </select>
        </form>
        <br>
        <div class="flex justify-center">
            <a href="#" class="bg-[white] text-black  py-2 px-4 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg title hover:bg-[#477694] descrip" >SAVE CHANGES</a>
        </div>
        
  
        <!--<div class="flex justify-center">
            <a href="#" class="bg-[red] text-black  py-2 px-4 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg title hover:bg-white descrip" >DELETE</a>
        </div>-->
    </div>


    <div class="bg-[#A0C5DF] rounded-xl px-8 py-8 lg:my-0 my-2">
        <p class = " text-gray-700 descrip">Name </p>
        <p class = " text-gray-700 descrip">Email</p>
        <p class = " text-gray-700 descrip">Birthdate</p>
        <p class = " text-gray-700 descrip">Work/Course</p>
        <p class = " text-gray-700 descrip">Company/School</p>
        <p class = " text-gray-700 descrip">Phone Number</p>
        <p class = " text-gray-700 descrip">Facebook Link</p>
        <p class = " text-gray-700 descrip">Home Address</p>
        <p class = " text-gray-700 descrip">Chapter</p>
        <p class = " text-gray-700 descrip">Committee</p>
        <p class = " text-gray-700 descrip">ALT Committee</p>
        <p class = " text-gray-700 descrip">Status: PENDING</p>
        <br>
        
        <form class="max-w-sm mx-auto">
            <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">STATUS</label>
            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-gray-700 block w-full p-2.5 ">
            <option value="US" selected>PENDING</option>
            <option value="CA">APPROVED</option>
            <option value="FR">DENIED</option>
            </select>
        </form>
        <br>
        <div class="flex justify-center">
            <a href="#" class="bg-[white] text-black  py-2 px-4 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg title hover:bg-[#477694] descrip" >SAVE CHANGES</a>
        </div>
        
  
        <!--<div class="flex justify-center">
            <a href="#" class="bg-[red] text-black  py-2 px-4 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg title hover:bg-white descrip" >DELETE</a>
        </div>-->
    </div>

</div>



<br><br>