
    <!-- Hero Section -->
    <div class="relative h-40 md:h-60 bg-cover bg-center" style="background-image: url(page-hero.png); ">
        <div class="absolute inset-0 flex items-center justify-center">
            
            <h1 class="text-[#477694] lg:text-6xl md:text-5xl text-4xl font-bold title text-center" data-aos="fade-up">CONTACT US</h1>
        </div>
    </div>
    <br>
    
    <!-- Contact Form Section -->
    <div class="mx-5 my-5 flex justify-center" data-aos="fade-up">
        <div class="bg-[#A0C5DF] lg:mx-8 lg:flex lg:max-w-4xl lg:shadow-lg rounded-lg w-full mb-8">
            <div class="lg:w-1/2">
                <div class="h-80 bg-cover lg:h-full rounded-b-none border lg:rounded-xl" 
                     style="background-image:url('https://images.unsplash.com/photo-1525186402429-b4ff38bedec6');">
                </div>
            </div>
            <div class="py-12 px-6 lg:px-12 max-w-xl lg:w-1/2 rounded-t-none border lg:rounded-lg">
                <h2 class="text-3xl text-gray-800 font-bold title">GET IN TOUCH</h2>
                <p class="mt-4 text-gray-700 descrip">If you have any queries or you wish to donate, kindly send us a message!</p>

                <form [formGroup]="formData" (ngSubmit)="onClickSubmit()">
                    <div class="mb-">
                        <label class="block text-gray-800 text-lg title">NAME</label>
                        <mat-form-field appearance="outline" class="w-full custom-input">
                          <input matInput formControlName="name" type="text">
                          <mat-error *ngIf="formData.get('name')?.hasError('required')">
                            Name is required.
                          </mat-error>
                          <mat-error *ngIf="formData.get('name')?.hasError('maxlength')">
                            Name must not exceed 100 characters.
                          </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-800 text-lg title">EMAIL</label>
                        <mat-form-field appearance="outline" class="w-full custom-input">
                          <input matInput type="email" formControlName="email">
                          <mat-error *ngIf="formData.controls['email'].invalid && formData.controls['email'].touched">
                              Email is required and must be a valid email.
                          </mat-error>
                          <mat-error *ngIf="formData.get('email')?.hasError('maxlength')">
                            Email must not exceed 100 characters.
                          </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-800 text-lg title">MESSAGE</label>
                        <mat-form-field appearance="outline" class="w-full custom-input">
                          <textarea matInput type="text" formControlName="message" maxlength="1000" (input)="updateCharCount()"></textarea>
                          <mat-hint align="end">{{ charCount }}/1000</mat-hint>
                          <mat-error *ngIf="formData.get('message')?.hasError('maxlength')">
                            Message must not exceed 1000 characters.
                          </mat-error>
                        </mat-form-field>
                    </div>
                    <button type="submit" class="bg-[#477694] text-white px-6 py-2 rounded-lg hover:bg-[#365b75] title" [disabled]="!formData.valid || submitted">{{ submitted ? 'Sending...' : 'SUBMIT' }}</button>

                    <p *ngIf="success" class="text-green-500 mt-2">{{ success }}</p> <!--  STYLE ACCORDINGLY NALANG -->
                    <p *ngIf="error" class="text-red-500 mt-2">{{ error }}</p> <!--  STYLE ACCORDINGLY NALANG -->
                </form>
                
            </div>
        </div>
    </div>

