<div class="relative h-40 md:h-60 bg-cover bg-center" style="background-image: url(page-hero.png); ">
    <div class="absolute inset-0 flex items-center justify-center">
        
        <h1 class="text-[#477694] lg:text-6xl md:text-5xl text-4xl font-bold title text-center">ABOUT BANGKETA ESKWELA</h1>
    </div>
</div>
<br>

<section class="mx-auto  max-w-[1920px] min-w-[280px] pt-8 lg:pb-8 md:pb-4 pb-2 px-4 sm:px-8 md:px-10 lg:px-20 ">
    <div
      class="w-full rounded-[50px] sm:rounded-[60px] md:rounded-[70px] lg:rounded-[80px] bg-[#A0C5DF] flex flex-col lg:flex-row  items-center  py-10 sm:py-12 md:py-14 lg:py-14  px-2  sm:px-4 md:px-8 xl:px-16 ">
      <img class="w-full lg:w-1/2 xl:w-full max-w-[550px] lg:order-2" src="https://iili.io/2ysFUen.png" alt="">
      <div class="text-center md:text-left">
          
          <h1 class = "lg:text-6xl md:text-6xl text-5xl font-bold title pb-5 text-slate-900">How We Started</h1>
        
        <p class="text-lg text-justify text-gray-700 font-normal mb-8 md:mb-12 mx-4 descrip">
          Bangketa Eskwela is a Non-Government, Non-Profit Organization established by Dara Mae H. Tuazon in 2017, and registered with the Securities and Exchange Commission in 2018. Its mission is to develop concrete, efficient and effective programs for street children, out-of-school youth and indigenous children and see them with transformed lives, having a passion for education, and committed to being agents of social change and nation-building through volunteerism.

          <br><br>

          These programs consist of Educating the Youth, Financial Assistance, Good Parenting Seminars, Supplemental Feeding, Christmas Gift Giving and Values Formation, Volunteers Team Awareness, and Building Program and Spiritual Enhancement fellowship.
        </p>
      </div>
    </div>
  </section>

<div class="lg:grid lg:grid-cols-3 lg:gap-5 lg:mx-20 md:mx-10 md:my-2 lg:my-0 mx-4">
    <div class="rounded-[50px] sm:rounded-[60px] md:rounded-[70px] lg:rounded-[80px] bg-[#A0C5DF] lg:my-0 lg:mb-7 md:my-10 my-7 py-10 sm:py-12 md:py-14 lg:py-14  px-2  sm:px-4 md:px-8 xl:px-16 ">
        <h1 class = "lg:text-4xl md:text-4xl text-3xl font-bold title pb-5 text-slate-900 lg:text-left text-center">VISION</h1>
        <p class="text-lg text-justify text-gray-700 font-normal mb-8 md:mb-12 mx-4 descrip">
            We see children with transformed lives, having passion for education, and committed to be agents of social change and nation building through volunteerism.
          </p>
    </div>

    <div class="rounded-[50px] sm:rounded-[60px] md:rounded-[70px] lg:rounded-[80px] bg-[#A0C5DF] lg:my-0 lg:mb-7 md:my-10 my-7 py-10 sm:py-12 md:py-14 lg:py-14  px-2  sm:px-4 md:px-8 xl:px-16 ">
        <h1 class = "lg:text-4xl md:text-4xl text-3xl font-bold title pb-5 text-slate-900 lg:text-left text-center">MISSION</h1>
        <p class="text-lg text-justify text-gray-700 font-normal mb-8 md:mb-12 mx-4 descrip">
            To instill love for education among children, help transform their lives for a brighter future and committed to be agents of change and nation building.
          </p>
    </div>

    <div class="rounded-[50px] sm:rounded-[60px] md:rounded-[70px] lg:rounded-[80px] bg-[#A0C5DF] lg:my-0 lg:mb-7 md:my-10 my-7 py-10 py-10 sm:py-12 md:py-14 lg:py-14  px-2  sm:px-4 md:px-8 xl:px-16 ">
        <h1 class = "lg:text-4xl md:text-4xl text-3xl font-bold title pb-5 text-slate-900 lg:text-left text-center">OBJECTIVES</h1>
        <p class="text-lg text-justify text-gray-700 font-normal mb-8 md:mb-12 mx-4 descrip">
            The Bangketa Eskwela Foundation serves through volunteerism, advocacy for social change and nation building. 
    </div>

</div>